<div class="errors">
  <span
    class="error"
    *ngIf="control.hasError('required')"
  >*{{ "ERRORS.REQUIRED" | translate }}</span>
  <span
    class="error"
    *ngIf="control.hasError('maxlength')"
  >{{ "ERRORS.MAX_LENGTH" | translate }}</span>
  <span
    class="error"
    *ngIf="control.hasError('dateFormat')"
  >{{ "ERRORS.DATE_FORMAT" | translate }}</span>
  <span
    class="error"
    *ngIf="control.hasError('onlyNumbers')"
  >{{ "ERRORS.ONLY_NUMBERS" | translate }}</span>
  <span
    class="error"
    *ngIf="control.hasError('minArrLength')"
  >{{ "ERRORS.MIN_ARR_LENGTH" | translate }}</span>
</div>
