@import "../../../../styles/custom/variables";

.date-icon {
  top: 2.1rem;
  right: 13px;
  position: absolute;

  color: #a8a9b4;
  font-size: $font-size-xxlarger;
}

.input__el {

  &.is-invalid + .date-icon, &.is-valid + .date-icon {
    display: none;
  }
}
