@import "../../../../styles/custom/variables";

$max-width-sb: 450px;

.search-bar {
  max-width: $max-width-sb;
}

.load-more-btn {
  background: white;
  text-decoration: underline;
  font-size: $font-size-tiny;
  box-shadow: 0 0 1rem #e8e8e8;
}
