@import "../../../../styles/custom/variables";

.input {
  position: relative;

  &__el {
    font-size: $base-font-size;

    //  &::-webkit-datetime-edit
    &::placeholder {
      color: $placeholder-color;
    }

    &:hover + .date-icon {
      display: none;
    }
  }

  &__lbl {
    font-weight: $font-weight-semibold;
  }

  &__info {
    color: #6c7283;
    font-size: $font-size-tiny;
  }
}

.form-control {

  &:focus {
    box-shadow: none;
    border-color: $info;
  }
}

.date-icon {
  top: 2.1rem;
  right: 13px;
  position: absolute;

  color: #a8a9b4;
  font-size: $font-size-xxlarger;
}
