@import "../../../../styles/custom/variables";

.input {
  position: relative;

  &__el {
    font-size: $base-font-size;
  }

  &__lbl {
    font-weight: $font-weight-semibold;
  }
}

.form-control {

  &:focus {
    box-shadow: none;
    border-color: $info;
  }
}


