@import "../../../../styles/custom/variables";

$max-width-sb: 350px;

.search-form {

  &__input {
    box-shadow: none;
    min-height: 45px;
    padding-left: 3rem;
    font-size: $base-font-size;

    &-icon {
      top: 50%;
      left: 1rem;
      z-index: 1;
      position: absolute;
      transform: translateY(-50%);

      color: $light-grey;
      font-size: $font-size-xxlarger;
    }

    &-wrapper {
      position: relative;
      max-width: $max-width-sb;
    }

    &::placeholder {
      color: $placeholder-color;
      letter-spacing: .2px;
    }
  }

  &__btn {
    font-size: $font-size-xxlarger;
  }
}
