@import "../styles/functions";

.main {
  min-height: 100vh;
  position: relative;
  padding-top: remy(64);
  padding-bottom: remy(124);

  &__header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    position: fixed;
  }

  &__footer {
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
}
