$active-link: gold;

$primary-font: 'Source Sans Pro';
$base-font-size: 14px;

$font-size-xlarger:       16px;
$font-size-xxlarger:      18px;
$font-size-tiny:          12px;

$primary: #2c2f3c;
$secondary: #525462;
$dark: #414452;
$success: #9bc837;
$info: #30b6dd;
$light: #f2f3f7;
$danger: #ff4e33;
