<section class="p-4">
  <form
    class="course-form p-4 rounded mx-auto secondary-shadow"
  >
    <h4 class="course-form__title mb-3">{{ isCreateMode ? 'New' : 'Edit' }} course</h4>

    <cs-input
      class="course-form__input"
      label="Title:"
      placeholder="Text input"
      [control]="courseForm.title"
      [isRequired]="true"
      (changeValue)="onChange($event, 'title')"
    ></cs-input>

    <cs-input
      class="course-form__input"
      label="Description:"
      placeholder="Add description"
      [textarea]="true"
      [control]="courseForm.description"
      [isRequired]="true"
      (changeValue)="onChange($event, 'description')"
    ></cs-input>

    <div class="d-flex align-items-center">
      <cs-input
        class="course-form__input--sm d-block mr-2 pr-1"
        label="Duration:"
        placeholder="minutes"
        type="number"
        [control]="courseForm.duration"
        [isRequired]="true"
        (changeValue)="onChange($event, 'duration')"
      ></cs-input>

      <div class="duration"> {{ courseForm.duration | csDuration }} </div>
    </div>

    <cs-input
      class="course-form__input--sm d-block"
      label="Date:"
      placeholder="mm-dd-yyyy"
      type="date"
      [control]="courseForm.creationDate"
      [isRequired]="true"
      (changeValue)="onChange($event, 'creationDate')"
    ></cs-input>

    <cs-input
      class="course-form__input--md d-block"
      label="Authors:"
      placeholder="Start typing"
      [control]="courseForm.authors"
      [isRequired]="true"
      (changeValue)="onChange($event, 'authors')"
    ></cs-input>

    <div class="d-flex justify-content-end mt-4">
      <button
        class="btn btn-secondary btn-sm px-2"
        [routerLink]="['/courses']"
      >Cancel</button>
      <button
        class="btn btn-success  btn-sm px-2 ml-2 text-light"
        (click)="onSubmit()"
      >Save</button>
    </div>
  </form>
</section>
