<div
  class="d-flex align-items-center"
  *ngIf="(isAuth$ | async) === false"
>
  <ng-container *ngIf="user$ | async as user;else logInBtn">
    <a
      class="d-flex align-items-center mr-4 link-light"
      routerLink=""
    > <i class="fas fa-user pr-2"></i>{{ user.fullName }}</a>

    <div
      class="d-flex align-items-center link"
      (click)="logout()"
    ><i class="fas fa-sign-out-alt pr-2"></i> Log off
    </div>
  </ng-container>
</div>

<ng-template #logInBtn>
  <a
    class="d-flex align-items-center link text-light"
    routerLink="/auth/login"
  > <i class="fas fa-sign-in-alt pr-2"></i> Log in </a>
</ng-template>
