@import "../../../../styles/custom/variables";

.breadcrumbs {
  font-size: $base-font-size;

  & > *:last-child {
    font-weight: $font-weight-semibold;
  }

  & > *:not(:last-child, :hover) {
    color: $light-grey;
  }
}
